.whish__root {
  position: absolute;
  top: 12px;
  right: 16px;
}

.whish__indicator {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
}

.whish__indicator--success {
  background-color: #beee11;
}

.whish__indicator--error {
  background-color: #f5465a;
}

/* Основной блок с popover */
.popover-container {
  position: relative;
  display: inline-block;
}

.trigger {
  display: flex;
  gap: 5px;
}

/* Popover стили */
.popover {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translate(-100%, -50%);
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

/* Стрелка popover */
.popover::before {
  content: '';
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid white;
}

/* .popover::after {
  content: '';
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ddd;
} */

/* Показать popover при наведении */
.popover-container:hover .popover {
  opacity: 1;
  visibility: visible;
}

.popover-content {
  color: #333;
  line-height: 1.5;
}

.popover-title {
  font-weight: bold;
  margin-bottom: 8px;
  color: #007bff;
}
